In [69]:
import fxrate
from datetime import datetime, timedelta
import pandas as pd

In [2]:
df = fxrate.load_csv(r'data/train/201601/**')

In [11]:
format = "%Y/%m/%d %H:%M:%S"
from_date = datetime.strptime('2016/01/18 07:30:00', format)
to_date = datetime.strptime('2016/01/30 23:59:00', format)

In [66]:
bar_range = 30
bars = []
calc_date_from = from_date
while calc_date_from < to_date:
    calc_date_to = calc_date_from + timedelta(minutes=bar_range)
    df_range = df[(df.time >= calc_date_from.strftime(format)) & (df.time < calc_date_to.strftime(format))]
    
    calc_date_from = calc_date_to
    if len(df_range.index) == 0:
        continue
    
    first_row = df_range.head(1)
    last_row = df_range.tail(1)
    bars.append([
        first_row.time.values[0], 
        first_row.bid_op.values[0], 
        max(df_range.bid_hi), 
        min(df_range.bid_lo), 
        last_row.bid_cl.values[0], 
        first_row.ask_op.values[0], 
        max(df_range.ask_hi), 
        min(df_range.ask_lo), 
        last_row.ask_cl.values[0]
    ])

In [70]:
pd.DataFrame(bars, columns=['time', 'bid_op', 'bid_hi', 'bid_lo', 'bid_cl', 'ask_op', 'ask_hi', 'ask_lo', 'ask_cl'])

,time,bid_op,bid_hi,bid_lo,bid_cl,ask_op,ask_hi,ask_lo,ask_cl
0,2016/01/18 07:30:00,116.735,116.941,116.734,116.889,116.785,116.979,116.784,116.919
1,2016/01/18 08:00:00,116.889,116.982,116.863,116.947,116.919,116.986,116.866,116.950
2,2016/01/18 08:30:00,116.947,117.052,116.915,116.999,116.950,117.055,116.918,117.002
3,2016/01/18 09:00:00,116.999,117.105,116.926,117.006,117.002,117.108,116.929,117.009
4,2016/01/18 09:30:00,117.006,117.147,116.965,117.096,117.009,117.150,116.968,117.099
5,2016/01/18 10:00:00,117.096,117.356,117.086,117.190,117.099,117.359,117.089,117.193
6,2016/01/18 10:30:00,117.190,117.335,117.156,117.265,117.193,117.338,117.159,117.268
7,2016/01/18 11:00:00,117.265,117.301,117.192,117.192,117.268,117.304,117.195,117.195
8,2016/01/18 11:30:00,117.192,117.257,117.085,117.254,117.195,117.260,117.088,117.257
9,2016/01/18 12:00:00,117.254,117.272,117.192,117.238,117.257,117.275,117.195,117.241
10,2016/01/18 12:30:00,117.238,117.363,117.238,117.280,117.241,117.366,117.241,117.283
11,2016/01/18 13:00:00,117.280,117.287,117.222,117.238,117.283,117.290,117.225,117.241
12,2016/01/18 13:30:00,117.238,117.259,117.130,117.134,117.241,117.262,117.133,117.137
13,2016/01/18 14:00:00,117.134,117.269,117.107,117.268,117.137,117.272,117.110,117.271
14,2016/01/18 14:30:00,117.268,117.292,117.170,117.185,117.271,117.295,117.173,117.188
15,2016/01/18 15:00:00,117.185,117.232,117.050,117.149,117.188,117.235,117.053,117.152
16,2016/01/18 15:30:00,117.149,117.255,117.112,117.199,117.152,117.258,117.115,117.202
17,2016/01/18 16:00:00,117.199,117.306,117.146,117.155,117.202,117.309,117.149,117.158
18,2016/01/18 16:30:00,117.155,117.181,117.009,117.033,117.158,117.184,117.012,117.036
19,2016/01/18 17:00:00,117.033,117.437,117.033,117.429,117.036,117.440,117.036,117.432
20,2016/01/18 17:30:00,117.429,117.432,117.266,117.350,117.432,117.435,117.269,117.353
21,2016/01/18 18:00:00,117.350,117.374,117.271,117.298,117.353,117.377,117.274,117.301
22,2016/01/18 18:30:00,117.298,117.324,117.160,117.310,117.301,117.327,117.163,117.313
23,2016/01/18 19:00:00,117.310,117.375,117.233,117.307,117.313,117.378,117.236,117.310
24,2016/01/18 19:30:00,117.307,117.435,117.273,117.433,117.310,117.438,117.276,117.436
25,2016/01/18 20:00:00,117.433,117.433,117.326,117.384,117.436,117.436,117.329,117.387
26,2016/01/18 20:30:00,117.384,117.423,117.323,117.407,117.387,117.426,117.326,117.410
27,2016/01/18 21:00:00,117.407,117.423,117.357,117.357,117.410,117.426,117.360,117.360
28,2016/01/18 21:30:00,117.357,117.396,117.335,117.337,117.360,117.399,117.338,117.340
29,2016/01/18 22:00:00,117.337,117.361,117.298,117.315,117.340,117.364,117.301,117.318
...,...,...,...,...,...,...,...,...,...
449,2016/01/29 16:00:00,120.655,120.807,120.526,120.717,120.676,120.810,120.529,120.720
450,2016/01/29 16:30:00,120.717,120.778,120.533,120.626,120.720,120.781,120.536,120.629
451,2016/01/29 17:00:00,120.626,120.846,120.626,120.810,120.629,120.849,120.629,120.813
452,2016/01/29 17:30:00,120.810,120.904,120.651,120.843,120.813,120.907,120.654,120.846
453,2016/01/29 18:00:00,120.843,120.926,120.773,120.852,120.846,120.929,120.776,120.855
454,2016/01/29 18:30:00,120.852,120.964,120.818,120.896,120.855,120.967,120.821,120.899
455,2016/01/29 19:00:00,120.896,120.973,120.776,120.841,120.899,120.976,120.779,120.844
456,2016/01/29 19:30:00,120.841,120.860,120.630,120.727,120.844,120.863,120.633,120.730
457,2016/01/29 20:00:00,120.727,120.940,120.698,120.918,120.730,120.943,120.701,120.921
458,2016/01/29 20:30:00,120.918,120.991,120.881,120.978,120.921,120.994,120.884,120.981
459,2016/01/29 21:00:00,120.978,121.056,120.867,120.956,120.981,121.059,120.870,120.959
460,2016/01/29 21:30:00,120.956,121.112,120.928,121.090,120.959,121.115,120.931,121.093
461,2016/01/29 22:00:00,121.090,121.146,120.945,120.945,121.093,121.149,120.981,121.012
462,2016/01/29 22:30:00,120.945,121.298,120.932,121.190,121.012,121.301,120.980,121.193
463,2016/01/29 23:00:00,121.190,121.317,121.190,121.291,121.193,121.320,121.193,121.294
464,2016/01/29 23:30:00,121.291,121.686,121.263,121.586,121.294,121.689,121.266,121.604
465,2016/01/30 00:00:00,121.586,121.681,121.332,121.353,121.604,121.684,121.335,121.356
466,2016/01/30 00:30:00,121.353,121.577,121.009,121.073,121.356,121.580,121.012,121.076
467,2016/01/30 01:00:00,121.073,121.202,120.920,121.129,121.076,121.205,120.923,121.132
468,2016/01/30 01:30:00,121.129,121.162,120.951,121.043,121.132,121.165,120.954,121.046
469,2016/01/30 02:00:00,121.043,121.168,121.043,121.103,121.046,121.171,121.046,121.106
470,2016/01/30 02:30:00,121.103,121.111,120.947,120.947,121.106,121.114,120.950,120.950
471,2016/01/30 03:00:00,120.947,121.126,120.918,121.101,120.950,121.129,120.921,121.104
472,2016/01/30 03:30:00,121.101,121.241,121.101,121.236,121.104,121.244,121.104,121.239
473,2016/01/30 04:00:00,121.236,121.246,121.136,121.195,121.239,121.249,121.139,121.198
474,2016/01/30 04:30:00,121.195,121.195,121.036,121.105,121.198,121.198,121.039,121.108
475,2016/01/30 05:00:00,121.105,121.108,121.004,121.105,121.108,121.111,121.007,121.108
476,2016/01/30 05:30:00,121.105,121.109,121.031,121.069,121.108,121.112,121.034,121.072
477,2016/01/30 06:00:00,121.069,121.088,121.036,121.088,121.072,121.091,121.039,121.091
478,2016/01/30 06:30:00,121.088,121.152,121.024,121.151,121.091,121.164,121.035,121.154